.dropdown-menu {
	width: 250px;
	background-color: white;
	border-radius: 10px;
	position: absolute;
}
.dropdown-menu a {
	display: block;
	text-decoration: none;
	padding: 19px 40px;
	color: rgba(43, 43, 43, 1);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-menu.clicked{
	display:none;
}
