.band-header {
	padding: 100px 0px 342px 8%;
	display: flex;
	justify-content: space-between;
}

.band-header-text {
	width: 55%;
}

.band-emma {
	width: 40%;
}

.band-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
}
.band-header p {
	color: white;
	line-height: 213.4%;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
}

.band-emma .first-emma {
	width: 100%;
	border-radius: 20px;
}

.band-emma > div {
	display: flex;
	margin-top: 20px;
}

.band-emma > div div {
	margin-left: 30px;
}

.band-emma .band-img {
	width: 100%;
}

.band-emma > div div:first-child {
	margin-left: 0px;
}

.band-header button {
	border: none;
	background-color: rgba(32, 120, 145, 1);
	color: white;
	font-size: 16px;
	padding: 15px 40px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s all ease-out;
}

.band-header button:hover {
	color: rgba(32, 120, 145, 1);
	background-color: white;
}

@media screen and (max-width: 1024px) {
	.band-header {
		flex-direction: column;
		width: 100%;
	}

	.band-header-text {
		width: 100%;
	}

	.band-emma {
		margin-top: 20px;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.band-container {
		padding: 38px 50px;
	}

	.band-header {
		padding: 100px 0px 0px 0px;
	}
}
