.music-container {
	background-color: rgba(0, 0, 0, 1);
	padding: 38px 100px;
}

.music-header {
	padding: 100px;
}

.music-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
	width: 640px;
}
.music-header p {
	color: white;
	line-height: 213.4%;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	width: 620px;
}

.music {
	display: flex;
}

.music div {
	width: 161px;
	height: 74px;
	background-color: white;
	margin-left: 20px;
	margin-top: 22px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.music div:first-child {
	margin-left: 0px;
}
