.music-container {
	background-color: rgba(0, 0, 0, 1);
	padding: 38px 100px;
}

.music-header {
	padding: 100px 0px 0px 150px;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	position: relative;
}

.music-header-text {
	width: 50%;
	/* position: relative;
	z-index: 999; */
}

.music-emma {
	position: absolute;
	top: 270px;
	left: 70%;
}

.music-emma img {
	width: 100%;
}

.music-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
	width: 640px;
}
.music-header p {
	color: white;
	line-height: 213.4%;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
}

.music {
	display: flex;
}

.music div {
	width: 161px;
	height: 74px;
	background-color: white;
	margin-left: 24px;
	margin-top: 25px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.music div:first-child {
	margin-left: 0px;
}
