.mc-container {
	background-color: rgba(0, 0, 0, 1);
	padding: 38px 100px;
}

.mc-header {
	padding: 100px 0px 0px 20px;
	display: flex;
}

.mc-img {
	width: 50%;
}

.mc-img img {
	width: 100%;
}

.mc-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
	/* width: 640px; */
}
.mc-header p {
	color: white;
	line-height: 213.4%;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	/* width: 620px; */
	margin-bottom: 70px;
}

.mc-img-container {
	margin-top: 30px;
	display: flex;
}

.mc-img-container img {
	border-radius: 10px;
	margin-left: 30px;
}

.mc-img-container img:first-child {
	margin-left: 0px;
}

@media screen and (max-width: 1024px) {
	.mc-img {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.mc-container {
		padding: 38px 50px;
	}
}

@media screen and (max-width: 700px) {
	.mc-container {
		padding: 38px 30px;
	}
}

@media screen and (max-width: 640px) {
	.mc-container {
		padding: 38px 15px;
	}
}

@media screen and (max-width: 600px) {
	.mc-header {
		padding: 0px;
	}

	.mc-header p {
		width: 100%;
	}

	.mc-header-text {
		width: 100%;
	}

	.mc-img-container {
		flex-direction: column;
		width: 100%;
	}

	.mc-img-container img {
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
	}

	.mc-img-container img:first-child {
		margin-top: 0px;
	}
}

@media screen and (max-width: 440px) {
	.mc-header h2 {
		width: 100%;
		font-size: 50px;
	}
}
