.brand-header {
	padding: 100px 0px;
	display: flex;
	position: relative;
	margin-bottom: 1000px;
}

.brand-text {
	width: 50%;
	z-index: 900;
}

.emma-img {
	width: 50%;
}

.emma-img img {
	width: 100%;
	position: absolute;
	top: 100px;
	left: 0px;
}

.brand-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
	/* width: 640px; */
}
.brand-header p {
	color: white;
	line-height: 213.4%;
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	/* width: 620px; */
}

.brand-design {
	display: flex;
	width: 100%;
}

.brand-design img {
	width: 100%;
}

.brand-header button {
	border: none;
	background-color: rgba(32, 120, 145, 1);
	color: white;
	font-size: 16px;
	padding: 15px 40px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s all ease-out;
	margin-top: 50px;
}

.brand-header button:hover {
	color: rgba(32, 120, 145, 1);
	background-color: white;
}
