.birthday-header {
	padding: 100px 0px 0px 0px;
}

.birthday-header h2 {
	color: white;
	font-weight: 600;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: -0.05em;
	margin-bottom: 30px;
}

.shoutout-body {
	display: flex;
	/* justify-content: space-between; */
	margin-top: 40px;
}

.shoutout-body:first-child {
	margin-top: 0px;
}

.shoutout-body .shoutout-container {
	margin-left: 40px;
}

.shoutout-body .shoutout-container:first-child {
	margin-left: 0px;
}
