.admin {
	margin: 100px auto 400px;
	/* display: flex;
	justify-content: space-between; */
}

.faaji-form {
	margin-top: 20px;
	width: 70%;
	max-width: 700px;
	margin: auto;
}

.faaji-form h2 {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
}

.faaji-form .date {
	border: 1px solid white;
	box-sizing: border-box;
	border-radius: 10px;
	width: 100%;
	padding: 20px 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	opacity: 0.5;
	outline: none;
	color: white;
	background-color: #000000;
	margin-top: 20px;
}

.details-group > div > div {
	display: flex;
	align-items: center;
}

.details-group > div input {
	cursor: not-allowed;
	border: 1px solid white;
	box-sizing: border-box;
	pointer-events: none;
	border-radius: 10px;
	width: 100%;
	padding: 20px 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	opacity: 0.5;
	outline: none;
	color: white;
	background-color: #000000;
	margin-top: 20px;
}

.details-group > div > div input {
	margin-left: 10px;
}

.details-group > div > div input:first-child {
	margin-left: 0px;
}

.details-group > div textarea {
	cursor: not-allowed;
	border: 1px solid white;
	box-sizing: border-box;
	pointer-events: none;
	border-radius: 10px;
	width: 100%;
	padding: 20px 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	opacity: 0.5;
	outline: none;
	color: white;
	background-color: #000000;
	height: 150px;
	margin-top: 20px;
}

.details-group i {
	color: white;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
	cursor: pointer;
}

.details-group .check {
	display: none;
}

.details-group .tested input {
	pointer-events: unset;
	cursor: text;
}

.details-group .tested textarea {
	pointer-events: unset;
	cursor: text;
}

.faaji-form button {
	border: none;
	padding: 20px 50px;
	/* width: 20%; */
	box-sizing: border-box;
	margin-top: 20px;
	background-color: #207891;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	cursor: pointer;
}

@media screen and (max-width: 1071px) {
	.faaji-form {
		width: 100%;
	}

	.faaji-form input {
		box-sizing: border-box;
	}
}

@media screen and (max-width: 850px) {
	.admin {
		margin: 100px auto;
	}
}

@media screen and (max-width: 650px) {
	.faaji-form button {
		padding: 20px 20px;
	}
}

@media screen and (max-width: 500px) {
	.faaji-form button {
		width: 100%;
	}
}
